pyaudio
wave
SpeechRecognition
pyttsx3
pyowm
pyjokes
datetime
opencv-python
pyautogui
numpy
psutil
wolframalpha
googletrans
pygame

google-api-python-client
google-auth-httplib2
google-auth-oauthlib

pyinstaller
